# This file is used to ignore files which are generated
# ----------------------------------------------------------------------------

.idea/
jar/
dist/

*.pyc
*.egg-info
*.tar.gz
*.zip
*.dll
*.exe

